.skeleton {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeletonAnimation;
  animation-timing-function: linear;
  background: linear-gradient(to right, #3f3f3f 8%, #7b7b7b 18%, #3f3f3f 33%);
  background-size: 200% 100%;
  position: relative;
}

.skeletonTd {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

.displayInlineBlock {
  display: inline-block;
}

.img {
  height: 45px;
  width: 45px;
}

.txt {
  height: 12px;
  width: 80%;
  border-radius: 5px;
}

@keyframes skeletonAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
